.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 100px;
}
.container-main {
  background: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
    0 0 / cover no-repeat;
}
.main-person-data {
  display: flex;
  /* justify-content: space-between; */
  position: relative;

  background-color: aliceblue;
}
.main-contacts {
  background-color: #004282;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 200px 20px 20px 20px;
}
.main-text {
  margin: 0;
  line-height: 25px;
}
.main-mail,
.main-phone {
  color: #000;
  text-decoration: none;
}

.main-network {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.main-list {
  list-style: none;
  width: 30px;
  height: 30px;
}
.main-icon {
  width: 30px;
  height: 30px;
  color: #000;
  border: 0.5px solid rgba(255, 111, 0, 0.71);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-person-wrapper {
  border: 1px solid #ccc;
  display: flex;
  gap: 50px;
  background-color: #fff;
  width: 60%;
}
.main-person-photo {
  padding: 50px 0px;
  position: relative;
  margin-left: -160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-person-image {
  width: 400px;
  /* height: 500px; */
  z-index: 10;
}
.main-person-info {
  /* padding: 200px 50px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-title {
  font-size: 45px;
  /* text-align: center; */
  line-height: 10px;
}
.info-subtitle {
  font-size: 45px;
  /* text-align: center; */
  color: #004282;
  line-height: 10px;
}
.main-profession {
  font-size: 20px;
  position: relative;
}
.main-profession::before {
  /* margin: 10px 0 0 -180px; */
  content: "";
  position: absolute;
  background-color: #004282;
  width: 170px;
  height: 2px;
  margin: 30px 0px 0 0px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 998px;
  }
  .main-person-wrapper {
    gap: 20px;
  }
  .main-person-photo {
    padding: 50px 0px;
    margin-left: -80px;
  }
  .main-person-image {
    width: 300px;
    z-index: 10;
  }
}
@media (max-width: 998px) {
  .container {
    max-width: 768px;
  }
  .main-contacts {
    padding: 200px 50px 20px 17px;
  }
  .main-text {
    max-width: 150px;
  }
  .main-person-photo {
    padding: 50px 0px;
    margin-left: -70px;
  }
  .main-person-image {
    width: 200px;
    z-index: 10;
  }
  .info-title {
    font-size: 30px;
  }
  .info-subtitle {
    font-size: 30px;
  }
  .main-profession {
    font-size: 15px;
    position: relative;
  }
  .main-profession::before {
    width: 140px;
    margin: 20px 0px 0 0px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 80px;
  }
  .main-person-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .main-person-photo {
    padding: 50px 0px 0 0;
    margin-left: -90px;
  }
  .main-person-info {
    padding: 10px;
  }
  .info-title,
  .info-subtitle,
  .main-profession {
    align-self: flex-end;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 50px;
  }
  .main-person-data {
    flex-direction: column-reverse;
    position: static;
  }
  .main-person-wrapper {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-person-photo {
    padding: 20px;
    /* width: 100%; */
    margin-left: 0px;
  }
  .main-person-image {
    width: 150px;
  }
  .main-contacts {
    width: 100%;
    padding: 0px;
    align-items: center;
  }
  .info-title {
    font-size: 25px;
    line-height: 10px;
  }
  .info-subtitle {
    font-size: 25px;
    line-height: 10px;
  }
  .main-profession {
    font-size: 16px;
  }
  .main-profession::before {
    width: 140px;
  }
  .main-text {
    max-width: 100%;
    padding: 5px;
  }
}
